*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f5f5f5;
}

/* NAVBAR */
.navbar{
  display:flex;
  align-items:center;
  padding:15px 40px;
  background:white;
  box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.logo{
  font-weight:700;
  color:#ff3f6c;
  margin-right:30px;
}

nav a{
  margin:0 10px;
  text-decoration:none;
  color:#333;
  font-weight:500;
}

nav a:hover{
  color:#ff3f6c;
}

.search{
  flex:1;
  margin:0 30px;
}

.search input{
  width:100%;
  padding:10px;
  border-radius:5px;
  border:1px solid #ccc;
}

.icons span{
  margin-left:15px;
  font-size:14px;
}

/* BANNER */
.banner{
  height:250px;
  background:linear-gradient(135deg,#ff3f6c,#ff905a);
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUTEhMVFhUXGRgXGBgVGBcVFxgZGh0XGBcWFxcYHSggGBolHRUYIjEhJSkrLi4uFyEzODMtNygtLisBCgoKDg0OGxAQGy0lHyUtLSstLSstLS0tNS0tLS0tLS0tLS0tLS0vKy0tMC4tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAIoBbAMBIgACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABQYCBAcDAQj/xABIEAACAQIDBQUEBwQGCgMBAAABAgADEQQSIQUGMUFREyJhcYEykaGxBxQjQlLB8DNyktFic4LCw+EVJDVDU5OisrPxNIPiFv/EABoBAAMBAQEBAAAAAAAAAAAAAAABAgMEBQb/xAAxEQACAgEDAgQEBgEFAAAAAAAAAQIRAxIhMQRBE1Fh8DJxocEiM4GRsfEFFCRS0eH/2gAMAwEAAhEDEQA/AL7ETQ2jiqtMjJTzrlYm17gqL2045uA6HrwnMfQN0rN+JEf6XqaAYd8x4aOFtcjNmyaDQGxANje09MVtJ0Zx2TNYrlstQqQQMxLKrXsTwAv4cSCifEiScSCO8D3YDDsWXiozFh7VgwVDqctha/EXtY2nRBocZqXAiIiKEREAEREAE8Md+zfyM94IgNOnZWsLVyOjHgrKx9CD+U6ujggEG4OoPUcpyvGYU02ty5H9c5LbE3legAjDOg4a2ZfAHmPCXCVci6/ppZ4qUOUdAlc33Yth2pIftGVivLgCPS+a08K++iW7lJi39IgD4XJmjTd3JqVTd25clA4KByGsuU1VI4MHR5IS1zVUcwweDqtUVEVg4I5EFSDxPS3GdTiJkeg3YiIiEIiIAIiIAIiIAfQJkxtoPU9f8oGg8T8B/nMIyeRKjvP9IGHwdQ0Qr1ao9pUsAvgzHn4AHxtLcTYE9ASbXJ06Aak+AnEti7MBx1RcR3nLsWNmF2LEnRgCNT0lwS3bMOoyyjSjyy5bJ+lHC1XCVqdSgToGazU7+LCxXztbqRLnjcbTpUmrVGC01XMW4i3UW4+nGcs3w2JSU91bAyp194q31Q4F2zUxUVlJ4hVzfZ+K5irDpl6cLUFPeJh/qpQtT38i57R+ltsx7DDrk5GqxzHzVdF95nps36WxmAxGHsPxUmuR45Gtcf2pXvo92WlWqHdMw8ZN/STs2llBp0wpHMSn4alpoyWXM1rsl9t71jErlw7fZHiwuC/UG+qjw49ZAyq7qYk9oU5Mt/UW19xPwlqmc4aXR6fTZfEx6jr30UVL4Ij8NVx7wrf3pc5zz6HsR9niKfR0f+IFf8OdDlx4PI6pVmkIiQ2I2jiFdwMPmTOFQjiRlBLHjzJ4hR3Tre0o5yZiV9NsYoDXBsx19k5b94hfaFrHS+txZja1r+2J2pXUjLh2IKB7a3BtVLISAbMCtIW55za9iQATUTCi5KgkEEgEg8RfkZnAClxETlPoRERABaIiACInvRQZWYi9iABqBc3Nzby+MYm6R4RPa9M/dYeRB+YmzjsEFqIi/eA4663Nz+ukKIeRJ0zTp0Wb2VJ8gTMSJs4rFfdQkIugtpf+kepMxxtYOwI/Ct/Fran9dI2kEZSb3RrxEzo0yzBRxJAiLbrc8nQEWIuPGajbLpnqPI/zkxiSiMVVQ1tCWJ1PO1iLTDG4fIRxGZQ1jxF+RhQoZntVqzQoYNE1Ua9TqZ7xERbbfIiIgIREQAREQAREQATJFudeA1Pl+tPWYzM6C3XX05fn8IxMxZrm8+REQz4WAILGwF734Wsb39PlOb70otDGdt95wKjL+HMSLfCX3ai3RhcjutwNuIy/3pQN+MF22NY37q0wtuvFjfoLEe+0ItWzmzRbdpGG3dpitSAAu3KwufQDUyM3X+jupijUqVw1JGUijf2y7Wyvlv7I6G17ycwSinTUDS9r+75eEse6W0QtVqTEC6mohY2UEA3vfgOEqE3FUh5OlWnXL9ivbv7L+paCpSrEDK/YujZGHdykZs7NdTeyjXTWQu8G3BVc0wrELqcwKjy18pWji2GJXEFQrq4YqOAynUacbkEk8ySZM7b3iTE1i/ZClplIzZr6aMTYdT7pTi7s41P8OlGGztjLQJa4LOARbkp5edxr5TfkpsHDjsytVb37wv8Al7x75q7Uwwp1Cq+zoV8iLyXK3uevixaMaLR9FWMyYwoTpVpsP7SkMPgHnX5+etjY44evSrD7jhj+794eq3E/QaMCAQbgi4PUcprB7Hlf5CFTUvMODY2NjyPTxlJ2Nu/jkWsHqWLUwn7R27SpnLNUvxp3U5bjXXwEvESmrOSGRxTS7lM/0FiTh3SxVTUBWgKzFuzCZMprHgxezkcNOOs8tobvYw4egiuWKdpcGqwK5mvTu/Fyq2XNx00veXiItJfjy9DxwdNlportmYKoZvxMAAW9TrPaIlGBS4iJyn0IiIgAiIgAmS1CARyNr+nCYzZwuiu44qFA8Mxtfz0+MaJk6RhglBdb8AbnyXvH5SRxT6LUPHsvie7/AHjNKk5yu51Nsl+pb88oM36KB6dEHmcp8lzG3wEqJzZXupP5fS2Q09KFEsbC3C+vy95ElFYPUZrDKge2lgdLZQOgHzmvRpCn2bcyrMw8Bqp8OXwhpL8a1xv/AGR82KdB17wFivetcZgOpXjaMKFNVNLLcacfeYzN2ht7RLD33BiRcpN7enc9MDTz1MxH3vidfgLn08ZntlT2mY8DovWw04ec29msFZlABFNSc3Mt94g9NLegnnUrk06YNrnvMbfdU6frrKrY59b8W0vT7/Yjq1Aq2U2vpwPWfUw5LFNLi48NNPn85MVO9V1Ay0xdtOLEXI8dPlNZRkFK4F++zeAGtvSw9RFpKWdtetf9v7fUipIbMp2DVCLkWVAfxH9D4zbChRZV7vZ5jzLM2ii9vOeFVStKmgPHMWPS2jfMjx9Y0qCWXWtPHuyPrtdmI6n/ANzzn1iLmwsOXlPkg6lshEREMREQA+qtyB1n12ufDl5cvhPtPmeg+en5zCMXcRERDIPefGCkjuxsoSxtx1J4W1vp8pSRiWIzP7TsC3gNTb9cyZKb+4wVMTSw/JF7U6cSToL9BYG3iOkilp3I8DFprcIwuzczewOdr++QW9K9rWWkAWshJAFzc5iotz9iTKNeofCQuOqMRVrKpYmvSpLl1YhFYnLbW+Y8ukuHIdT+U0vdFaxFNaNR0a7ZbgW7vrY/dve3O3SfcBiKY/aX1vw5cMslMXsbEY6qpwuHqNZbPoEVT7IDMwUZiFDHxY6DhII4Aj22CjvA8yCL3HS/dPOdemLPCuSOnbpYlK+H7rXakRTJ6jRlP8Jt6GeG2F4H8JZD6G6/AiR24D0aaYjsyxsaN82hNyyg2uQAb8PiZKY9btWHQq/5H4Ccc1pnR9D083PBFv3X9EVOzfRttbt8GqE9+j9mf3R+zP8ADp5qZxmWLcTbf1XFKWNqdTuP0F/Zf0PwJlxdM5+rxeJjdcrc7fERNjwhERABERAClxETlPoRERABKjvvvDXwbU+y7Mipm0dCSMuXmGF/aMt0559LHHD+VX/Dlw5OfqZOONtE/sDHYrFYVawqUUdi4saTFe6zKP8AeX5SR3P2rWdKoxSJnWo1J1S4FgFYEXJ/FcHoZUdibfGF2UGCuXHahSEfIGLvlJqWy21HPw4y71qi0qb1La2zG3FmAAA8zYD3QexGNqcVb7K/fmVzbe+5p49MMgUYdWVahOrF34tmvYBcy8vutLmMQQgXUENmBHLSx/Kcf3/2QaFWm/HtUu5HOqv7RvW4PvnRN1dpfWMLSqE962Vv3l7re+1/WOXFonA7nKEvmj6m8FSvi6lGk4HYgdo5Fzdr9xF0Gmtyb66W5zU3m2xjcKmdWWtRv3sykOhJ9olTZlvysLfEULealXwWNqVUZk7R2dHHBg5zFehsTbKel+k3tnb/ANT2MVTSrTYZWKjK1jobr7LeVhHpfKM/GjvGWz7P+C5b47Vq4Wj21IrcMq2ZSeN9bhhbhMty976+NSo1RKSupCl6akFgwPVjlOnKRv0iVQ+ADKbqz02BHMG5BkV9GGIKJXtTdrsnsAG2h43IiXwlzd50nxRvbT36rYLFVqLKj0+zIuFIcMyBlb2rEBjqNNDxktvLtvEYfBLVV0JGTRk7pzEdGvpc85znf+pmxlU5WXupo1gfYXoTLvv3/s3/AJPzWOuDOMm3kflx9TY3I3rxWMNVqroOzygdmpW+bNe5zH8AmG2N8XFdcFhrM5cKzPcohPEWFixHE6gXHXhC/RY9lxR6dmfcKsre5blsfQZjcszMT1JRyT7463YlkahBLlv7nTd4Np4vC4c1adbOEtnR1sCpIBylSCvEddJ6bt7xjGUCUJUqbOhN8rHUH+kp4jy6iYb4j/UsR/Vn8pRvourEYqovJqRJ81ZLH/qb3yVvE3lLRmUez/k3Nub4Y3D1CuWiVLVAjFG1CO9M37/G6fEdZc9hbTGKw6VVsCwsRxyuNGFvP4WkBt7Y31nBOVF6lOtiXTqftquZPUfECV76Nts9lWNBj3K3s9BUHD+IaeYWNpNbERyShlSk9mdG2VVd0zOQTmYaDKLKzL1PSbk0tjfsh+9U/wDI83ZmztjwhEREUZ/d8yPgDf5iYTM+yPMn5fymEYkIiIhnMt4618bWPQhfcoH5TDDHiek0sZWz16rdXf5mbBOWmfHWNmkHsYPiRSpvUbkD6nlIhNrNRwGHqJ7fbVi1iVPeLi4YaqbXseRHhNXb2JLgUxwBBbxPT0jeCh2eCwqcyWY/9R/vzSEVsvNnJmyN6muEvq2jSq7zYxgB9bxGRScoNRr25XYWLHxkRVBJZmJJN2JvxJ1JPU6zDNof1zhzofL8p2KKXB4zk3yWvcCiftDyZ6V/HL2jn4hffLviE/1i1tHpH4f+zKx9HKg0m/rf7iy2bR0xNLx0+DTgzfmM+i6KNYI++5XGFjbpPhmxtBLVGHjNeBo9mdf+jfeP6xR7GoftaQA14unBW8SOB9Dzlyn542XtCph6q1qRs6m46Ec1PUEaTum722qeLorVp89GXmjc1P8APmLGawlZ4vWdPolqXDJOIiWcQiIgBS4iJyn0IiIgAnPPpY44fyq/4c6HKpturRfFClUoUGPcs2IqGmWzcRRBUhiANRcXIt4y48nP1KuGnzG5GFWrsxaTi6v2ynyLuJM7Qp9o9Khrb9o9iR3UtkF1IIJcqR/VtITYmOp/WDRpUqFMJUqIFFZhU7ua7LRCZTfjx6zZwW1ab1azdi11VnpsGJNdKbMrZV8H4DX2wecHdkwlFQS/T9jW382KrYRnXOWpEP3qlR+6NH0djbum/wDZkN9Fm0bPVw5OjDtF8xZX94y/wmTg3gWrQd6qUnXuKKdKsXcvUOQUqilVyasAb3Gp6TTqGlhM7VMDRp1UpNWpmk5KsFyh1L5AUIzjkQQZS4pmctPiLJF7fqSmxtt08RUr4WsFNSnUqqFYAh6YdgpAOhIFgR4X5yE373Yw9Oia1FMj5lUKnB8xy5Qn4tb6dJI4Wvg8RWUfV6YJp1K7uwC1adRXUOjaZgwLk3vy00mOH21TFCviDQPaUF7RFqVGdmpOL03VnuaeYAggDTKRFw9hy0yhUmn6mrvdhWpbKpU29pOxU+YBuPfMPoo/Z4j95Pk0tu1MJRqUy1dAyKCxDXIsBe9uBMit3KWW1RcJSoUnXOCtTvAWupqJlC3IPIm0L/DRTx1lUvQoX0i//Nrfup/2LLnv3/s3/k/NZqtXwtWlia9TBoXpp2qiobmrSIPZvmIut8pFtbWEmtqpRy4em9FXSrUVMrMSFurPexvmtl4Rt8GcYfG7+L/0rn0UDTE//V/iSD2ZgTgtp0kqaAVLKx4MrBlRgf7Qv0N5bcXi6WCxBpUKGGpk01ctUqmgGuXULYI2Yi3xm7jqxxLPTGEpVqdJwjmq4U57AsKQyHgGGpKwvcXhrSo3vF+vzPXfmuEwNe/MBR5swH8/dK99F+yWXPiXFgy5Kd+YuCzeVwoHkZvPc1alOrhKTiggq9/EVaoCkVMmRKiEZvsz0tfiZv0dt1awC4egrHsqdSpnqGmq9quZaaEISzWB1sBwi4VGj0yyKb7cLcktifs2/rsR/wCerOY78bIOFxWZNEqHtEI+6wN2A6WNiP3hLpgd5KCNRVaZSnWUsWJJFOpnKFXHAXe4zX4kdbySwi0sdh6b1qKkEsQrd4KQWS4JA5D4wT0uwnGOaCinuj7upWL4Sk7cWBY+ZZifiZLTzw2HWmoRFCqugUaADoJ6SGdUVUUmIiIijN+C+R+ZmEzbgPUfI/nMIxITyxlbJTdz91Wb3An8p6yO3io1Hw1VKS5nZcoFwLgkBtSQOF4AcmoHWeeNxlYnIqhgefAj/KZAhHamxAdSVKki4I0I8fSbtMR8B8SpMh8Vh8oCjU8PMnn7zNj6RRlOHXkq1PmonhtKpx8ZhvjSY/VEGp7G3ymmP4036mGf8qaXp/JVL933TInQ+UzxWGZBZha88+s7LPGo6D9GifZN/Wn4In85ZN4KxRkqKoZlNwCbA8uNjbQmQH0arag/9Yf+ynJ/bwuonnZPzGfTdKv9vH5EHWxDVGLMoUnkpJHvIEwiIxiS+7O36mCrdomqmwdL6Ov5MOR/ImREQJlFSVM/Qmx9qUsTSWrSbMp96nmrDkRN2cC3e29WwdTPSOhtnQ+y46Hoeh4j4Tsu7m8dHGJmpNZh7dNvbXzHMeI0m0ZWeL1HSyxO1uiYiIlHIUuIicp9CIiIAJGbS2Ktc9+rVyHLmpAr2Zy2I4qWHAeyRJOa9Su4JApk68b2FrDX3k+7xEaJkk1uR9PYOUuUxGIUOzuVU08uZ73IvTuOOmvITGluvh07M0g1NqYIDUzZiCpQhjbXjfSxuAZvpiKh/wB1bj94E3AuNPHhxnwYup/wW5W7w+N+Edsz0w8jS/8A5uk2ftXqVWdQhZyoYKpzLlKKtiGsb8bjjMau7NN1qCrVrVGqUzSzuyllQ6lUsoUXIFzYk2kg2IqafZczfvDhYEHh1Pw56QmIqa3pEWBI7w16DTnC2GiHkaON3ao1KlSp31apT7J8hAzLdSb3B1IQLfoT4EYYjdXDsGCqaYem1JhTIAZWIOtwdQRofEyR+sVNPsuJI9oAAWBBPqbaX4T7SxLkgNSKjrmDfIQthoxvsY4PAZFZWq1KobT7XIbC1iBlVdD4zQXdtQjUhXxHZlDTCZxlRToVXu3OmgzE2B0m/wDWan/BPD8Q93D9WPhd9aqf8E/xC/Pp6e+G42oP2zQr7q4Y3yqaYam9JhTIAZHtobg6i1xMqu7wZVDYjEEo6ujE0sylQy6Wp2tZjxB4CSCV30vSI437w0te3mTPIYurp9idbfeF72J/L48oWxaIeRptu93+0GJxIqZBTLg0rsoZmF707XBc8BwAnrU2EpdnWrWp5yDUFNgq1CABmbukg2ABKkXmyMTUt+yP8Q14/r9Xj61UIFqR4nieFre/ifdC2PTDy/kxfZaF6rkterTWk2osFXPYrpoftD15TUO7qDL2dWtSIppSLU2UF0QWUPdSLjXvAA6zfbEuAv2RJPHUDKdNNePnPbDuSt2XKddL35m3whbHpi+xHU93qAsAvcFI0MhN1KE5je+pa443m1srZ64ektFCSqXtmNzqSdSAOs24ispQinaQiIiKEREAM/u+R+Y//MwmacCPC/u/yvMIxIREg97NrnD0gEID1CVUnlpqQOvSAyj73YTDVMSclJfabM2pzvqWJ166ekoT7ar02YK11ubBhewubC/H4yY2hthkfIoVmF9Rewv1H4hbhfny4SuYwgsSAdfI2PQeE6scP+R53VZYp1jdNck9su+KQu1lIa2gNjoD104zd3re1fDEck+ZmhuhV0qJ4hh66H5Cbu8y3qJ/RpL8WMiqyUauV9Lq7uvoyJ3g71ukiqeH1uAZJ4jUhetuUsX+jVFMBQNBcn+Z6zVbKjgrU7Jfce3YG34j8lkrtXVTIvdmn2dNhwGYH/pW/wAbyQrvmBnBP4mfR9OqwpMg4giJoSIiICEvG42zjTX6wdHbROoTmfUj3AdZV9hbNOIrBPujVz0UfmeHrOmKoAAAsBoAOQ6RET8idwW2QdKmh/EOHqOUllYEXBuPCU2ZLUI4EjyJEtZH3ODJ0UZO47HjWrogu7KoP4iF+c9AZzDbe0DiKrOeHBR0UcPU8T5y5blq4wwzcCzFL/h0+F80g7mqROxERCEja5Aqk5apIsSQO7oNANPfr16m8lEZLVkTSpqdB2/DNrfUrawuRx+HwmBVCOFaxJBy3I6HiOHK3hw0EmYhZOgimyZzda3tWNr5PxX05d68+UUA1y1zYg689RyHEC48/GwtLRCw0EOzJwy1+B4A62I1F/TX8p8yqvBK+gI5cOJtpz6fIyZiFhoIpQpVhlrAXudNT92w0uRoP1eYsoYhilYHQ6cjqOXA28uItJeIWGgh7oBciuM3ctwJuAdBw8NOnCKmW3sV+7flbiWPTz+F+UmIhYaCJCAZWVax73A3FsumotqD48vICEpqxAArKT1Byg2PtdefgTJaIWPQa1DBhSCGY2B4m4N7anx0mzEQKSoRERDEREAEREAMkaxB9/lznxlsSOmk+TN9QD6H04fC3uMYu5gxtqeE5BvztR8Q5Keybqo/oKCbgdTxnRN8MZ2eHIHGocnodW+At6zm1cd+mfFv+1v5So7OwnHVFrz2KXoOHHqZrs9zNvaOEIqOq3Optbp+tPSF2U4pNUYZbAWB4nVQb9BZp26keF4crarg3N1X+2YdUPwK/wA5YNr4fP3wdQgBFvwkn85Wt2XtXHirD5H8pcTOfK6nZ6nSRWTA4vzK1hKQaqt9PEASzlzlC8hK5RXJWA6Nb42vLDFle4uihFxepbpmttGq60yUYqRrp7v15SL2JtWsauV6hYEG1wOPHp4GTdRLgg89JXaC5Kq+DW/Iwgk4tD6mU8eWMk3RZDERMjvERJ7dHZfa1c7DuU7Hzb7o9OPoOsAbos+6+y+wojMO+/ebw6L6D4kyYiIjIRERAcv2Ns816q0xw4seijify8zLnXxxHdp91F0Fug0E0tk4T6vQ1/aVdW6qvJf11PSfYM6sUE92SmzcexbK5vfgeflJWQmyKF3zcl+cm4GWZJS2EExKRvds+u9fMEd0sMuUFgumosOBvc+sZmlZdsw6iMw6iUHC7PQIgqYPEs4zZioZQfay249V5Dhz4H7UwKXS2Br2F85AqKW7rABVJbKMxVuJta2sdE36P3+pfcw6ifQZRxgqFzfA4m3KwcEcBYksb/eNxb7o11Ji8HsnE51yUqiNfRsrKF8bnlFQ1udMiJBbxYRnZXKvURVOWmmoNS5sW8OHIjQ+TAidiaOzkqigA9hVsTbiASSVW+ugFhz4c5iFxPWl46Np4jrfj4X5wE3RIRI//Wbf7rNf+la3G3C97jLfxvyscCuK11p8+Rtzynz4QoWv0ZJxI6muJDC5QrckjW4HQGw956jxEWxOmtMaC5sTrfvWHS17fGFBq9CRieWGD5e+QW19nQcdPhNTbiOaYyJ2gDqXp3yl0F8ygj0Pp6QK7EhEhd18E1JXBL9mSCgqKEcad66hmsL+PK/OezYfEX0ccTztzSxHc6B+74jUwoUnRKRI/sa+UAOt8zE3ue6b5RmtyB6cQPG+NLD4izhnW5AyFb90gDjfiL3J56woWr0JKJGUMNiA4LVAUDNpzK/dHAa8PD85OA07Ezp9Ovz5H9dZhEBtWUzf6r36SdFZreZA/umVGqOB6G/wIPwJlu39pXqI4PBFDDp3myt5E6HobfiEqsZpHeJr4Id3NYjMS2uh11/z9ZD7fxQNGw1ztp+6p9rXkSFk5XHdbXLodeFtON/CUnE0CrWDB+pW599xNsSt2cXWTeOCiu57bDpMMRS0tcFvQq2sukqGzqTdrQbUX4eIGa/paW+Gbkf+P+B/P7IhdsJlcMOevqP0JMq1xccDrI/bI7o9Zs7PN6aeUmW8UysP4c84r5+/3NiQm16NnzDnr6j9CTc0trUsyXHL5c4sbqRfWQ1Yn6bm2jXAPXWZTT2ZUulvw6enL9eE3JLVOjbFPXBSMqVIswVRdmIAHUnhOn7JwAoUlpjlqT1Y8T+uVpW9yNl3JxDDhdU8+DN+XvlwksJMREREiIiAFaxFYuxY8/gOQmCKSQBxOk+Tc2SPtB5GB6DemOxcN39kotK7gHz+LfrkJHVLXOXhc28uUsm0tKDW00A+IlZmk1VI8Xp5yyOU2+WIiJmdQiIgAiIgAiIgAiIgAiIgAiIgAiIgAiIgAiIgAiIgAiIgBVd9gUNKqBcd5GB4MDY5T4EBpUsTRC2ZSSjeyTx8Vb+kL6+h4ES876j/AFY/vpKBmPC+nG3K/X4ykXE8sVRDoyHgwIkKu7zXGarddLix1A5e1J+JUZuPBGTBjyO5I1quCVqiVNQUBAAtbp+c2YiKzRRSuu5r42gWGlr+OkywdIqgU2vrw4cbz2iGp1RCxRU9fcT4RPsRGhG0F7NrHmbDxEm9m4Jq1Vaa8zqeg5n0E1patwVGeqba5V+Zv8h7pUpWYYsPhJpPYt+HoKiqiiyqAAPAT0iJmUIiIAIiIAf/2Q==);
}

.banner h1{
  font-size:3rem;
}

/* PRODUCTS */
.products{
  padding:40px;
}

.products h2{
  margin-bottom:20px;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.product-card{
  background:white;
  border-radius:10px;
  overflow:hidden;
  transition:.3s;
  height: auto;
  width: auto;
}

.product-card img{
  width:110%;
  height:550px;
  object-fit:cover;
}

.product-card h3{
  font-size:16px;
  margin:10px;
}

.product-card p{
  font-size:14px;
  color:#666;
  margin:0 10px;
}

.product-card span{
  display:block;
  margin:10px;
  font-weight:600;
}

.product-card:hover{
  transform:translateY(-8px);
  box-shadow:0 10px 25px rgba(0,0,0,.15);
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:#fff;
  margin-top:40px;
}